:root {
    --bg-dreamy: #f3f0ff;
    --header-bg: #ffffff;
    --accent-pink: #ffb7ce;
    --accent-mint: #b9fbc0;
    --accent-purple: #c084fc;
    --accent-blue: #bae6fd;
    --text-main: #4b3f72;
    --text-muted: #8b79b3;
    --border-color: #e9e4ff;
}

.Defaultcursor {
    cursor: default;
}

@import "tailwindcss";
